$color_primary: #4abb82;
$color_primary_2: #eafef154;
$color_primary_light: #eafef14d;
$color_dark: #1d1d35;
$color_dark_light: #333f51;
$color_dark_light_2: #404f65;
$color_dark_light_3: #556987;
$color_gray: #8896ab;
$color_gray_light: #e1e3e5;
$color_black: #000;
$color_white: #fff;
